@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <label for="search">Enter search frases</label>
        <input type="text" id="search" name="search"><br><br>
        <button type="button" onclick="search()">Search Database</button>
    </div>
</div>
